{% extends 'tasks/base.html' %}
{% load crispy_forms_tags %}
{% load tz %}
{% block title %} Task {% endblock %}
{% block content %}
{% if task %}

<div class="card" style="width: 25rem;">
    <!-- <img class="card-img-top" src="https://placehold.co/400x300" alt="Task Image"> -->
    <!-- <img class="card-img-top" src="{{ task.photos. }}" alt="Task Image"> -->
    {% for photo in task.photos.all %}
        <img class="card-img-top" src="{{ photo.photo.url }}" alt="Task Image">
    
    {% empty %}
        <img class="card-img-top" src="https://placehold.co/400x300" alt="Task Image">
    {% endfor %}
    <div class="card-body">
      <h5 class="card-title">{{ task.title }}</h5>
      <p class="card-text"> {{ task.description }} </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Due Date: {{ task.due_date }}</li>
      <li class="list-group-item">
        Completed Yet: 
        {% if task.is_completed %}
        Yes
        {% else %}
        No
        {% endif %}
      </li>
      <li class="list-group-item">

          {% timezone "Asia/Dhaka" %}
            <small>
              Creation date: {{ task.created_at.date }} <br>
              Last Updated: {{ task.updated_at }}
            </small>
          {% endtimezone %}
      </li>

    </ul>
    <div class="card-body">
        <a href="{% url 'tasks:task-update' task.id %}"><button class="btn btn-primary">Update</button></a>
        <a href="{% url 'tasks:task-delete' task.id %}"><button class="btn btn-danger">Delete</button></a>
    </div>
  </div>
{% endif %}
{% endblock %}